@{
    ViewBag.Title = "Password Set Successfully";
    Layout = null;

}
<h2>Password Set Successfully</h2>
<p>Your password has been set. You can now <a href="/Auth/Login">log in</a> with your new password.</p> 